.exchange-rates-container {
  width: 500px;
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  color: white;
}

p {
  color: black;
}

.exchange-rates-form {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.Amount {
  display: flex;
  flex-direction: column;
}

.Amount label {
  margin-bottom: 5px;
}

.Amount select,
.Amount input {
  padding: 10px;
  border: none;
  border-radius: 5px;
  background-color: #eaf2f6;
  color: #000;
}


.exchange-rates-result {
  font-size: 1.5rem;
  text-align: center;
}

@media (max-width: 1024px) {
  .exchange-rates-container {
    width: 230px;
    height: 250px;
    /* border: 1px solid; */

  }


  .Amount select,
  .Amount input {
    width: 50px;

  }

  #amount {
    width: 50px;
  }

  h2 {
    font-size: 16px;
  }
}


@media(max-width: 768px) {
  .exchange-rates-container {
    width: 330px;
    height: 250px;
  }

  
}

@media(max-width: 425px){
  .exchange-rates-container{
    width: 200px;
  }
}

@media(max-width: 375px){
  .exchange-rates-container{
    width: 200px;
  }
  
}

@media(max-width: 1275px){
  .exchange-rates-container{
    width: 300px;
  }
}
@media (max-width:900px){
  .exchange-rates-container{
    width: 230px;
  }
}
@media (max-width:870px){
  .exchange-rates-container{
    width: 200px;
  }
}@media (max-width:820px){
  .exchange-rates-container{
    width: 170px;
  }
}