.coin-chart {
  width: 100%;
  max-width: 800px; 
  height: 400px; 
  margin-top: 40px;
  padding: 20px; 
  background-color: #f9f9f9; 
  border-radius: 8px; 
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
}

.chartjs-render-monitor {
  border-radius: 8px; 
}

@media(max-width: 1024px){
  .coin-chart{
    width: 63%;
  }
}

@media(max-width: 768px){
  .coin-chart{
    width: 60%;
  }
}

@media(max-width: 425px){
  .coin-chart{
    width: 90%;
  }
}