.News {
  text-align: center;
  font-family: Arial, sans-serif;
}

.News-header {
  background-color: #282c34;
  padding: 20px;
  color: white;
}

.article {
  border: 1px solid #ddd;
  padding: 20px;
  margin: 20px;
  border-radius: 8px;
  text-align: left;
}

.article h2 {
  margin: 0 0 10px;
  font-size: 24px;
}

.article p {
  font-size: 16px;
}

.article img {
  max-width: 100%;
  height: auto;
  border-radius: 8px;
  margin-bottom: 10px;
}

.article a {
  color: #007bff;
  text-decoration: none;
}

.article a:hover {
  text-decoration: underline;
}
